#gallery {
	max-width: 922px;
}

#gallery img {
	display: block;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

#gallery > img {
	max-height: 470px;
}

#gallery #gallery-row {
	display: grid;
	grid-column-gap: 14px;
	grid-template-columns: repeat(5, 1fr);
	margin: 13px 0px;
}

#gallery #gallery-row img {
	height: 100%;
	max-height: 140px;
}

.form .custom-control-label {
	color: rgba(0, 0, 0, 0.75);
	font-size: 16px;
}

.form .custom-control-label::before,
.form .custom-control-label::after {
	margin-top: -1px;
}

.form .custom-control-input:checked ~ .custom-control-label::before {
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}

#tabs .shadow {
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25) !important;
}

#tabs .tab-content ul {
	color: var(--secondary-color);
	font-family: "VW Head Regular", Roboto, sans-serif;
}

#tabs .tab-content ul li {
	margin-bottom: 14px;
}

#tabs .tab-content ul strong {
	font-family: "VW Head Bold", Roboto, sans-serif;
	text-transform: uppercase;
}

#offers #offers-carousel {
	padding: 32px 0px;
}

@media (min-width: 576px) {
	#tabs .tab-content ul {
		columns: 2;
	}
}
