#gallery {
	max-width: 922px;
}

#gallery .swiper-container {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#gallery .swiper-slide {
	background-size: cover;
	background-position: center;
}

#gallery .gallery-top {
	height: 60vw;
	width: 100%;
}

#gallery .gallery-thumbs {
	height: 15vw;
	box-sizing: border-box;
	padding: 14px 0;
}

#gallery .gallery-thumbs .swiper-slide {
	height: 100%;
	opacity: 0.7;
}

#gallery .gallery-thumbs .swiper-slide-thumb-active {
	opacity: 1;
}

.form .custom-control-label {
	color: rgba(0, 0, 0, 0.75);
	font-size: 16px;
}

.form .custom-control-label::before,
.form .custom-control-label::after {
	margin-top: -1px;
}

.form .custom-control-input:checked ~ .custom-control-label::before {
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}

#tabs .shadow {
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25) !important;
}

#tabs .tab-content ul {
	color: var(--secondary-color);
	font-family: "VW Head Regular", Roboto, sans-serif;
}

#tabs .tab-content ul li {
	margin-bottom: 14px;
}

#tabs .tab-content ul strong {
	font-family: "VW Head Bold", Roboto, sans-serif;
	text-transform: uppercase;
}

#offers #offers-carousel {
	padding: 32px 0px;
}

#offers .swiper-slide {
	padding: 5px;
}

@media (min-width: 576px) {
	#tabs .tab-content ul {
		columns: 2;
	}
}

@media (min-width: 992px) {
	#gallery .gallery-top {
		height: 470px;
	}

	#gallery .gallery-thumbs {
		height: 140px;
	}
}
